<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resumed.sqtwin.dao.mapperone.WebResumeCertificateMapper">
  <resultMap id="BaseResultMap" type="com.resumed.sqtwin.model.WebResumeCertificate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="certificate_id" jdbcType="INTEGER" property="certificateId" />
    <result column="certificate_name" jdbcType="VARCHAR" property="certificateName" />
    <result column="getTime" jdbcType="DATE" property="gettime" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
  </resultMap>
</mapper>